<form action="/dashboard/artist/create" method="post">
<label for="name"></label>
<input type="text" name="name" id="name">

<label for="isBand"></label>
<input type="checkbox" name="isBand" id="isBand">

<label for="description"></label>
<input type="text" name="description" id="description">

<label for="picture"></label>
<input type="file" name="picture" id="description">

<button>Submit Information</button>



</form>
