<h1 class="title">Home of music lovers</h1>
<p>
    Music is <b>life</b> !<br>
    <b>Welcome</b> to Artistify, a fullstack application powered by expressjs, mongodb and hbs.
</p>
<a href="/dashboard/artist">View Artists</a>
<a href="/dashboard/label">View Labels</a>
<a href="/dashboard/style">View Styles</a>

<hr>